<section class="content">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<section class="panel">
					<header class="panel-heading">
					  {{'tbl_head_customers' | xlat}}
					</header>
					<div class="panel-body table-responsive">
						<table width="100%" style="margin-bottom:5px">
							<tr>
								<td align="right">
									<button class="btn btn-primary" ng-click="showCustomer(tempCustomer,'Add')" align="right">Add Customer</button>
								</td>
							</tr>
						</table> 
						<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle"  st-safe-src="rowCollection" st-table="customerCollection">
							<thead>
							<tr>
									<th st-sort="name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Customer Name</th>
									<th st-sort="email"><i class="glyphicon glyphicon-filter"></i>Email</th>
									<th st-sort="phone"><i class="glyphicon glyphicon-filter"></i>Phone</th>
									<th st-sort="hub"><i class="glyphicon glyphicon-filter"></i>Hub</th>
									<th width="50px">Actions</th>
								</tr>
								<tr>
									<th>
										<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
									</th>
									<th>
										<input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
									</th>
									<th>
										<input st-search="phone" placeholder="search for phone" class="input-sm form-control" type="search"/>
									</th>
									<th>
										<input st-search="hub.name" placeholder="search for hub" class="input-sm form-control" type="search"/>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody ng-show="!isLoading">
							<tr st-select-row="row" ng-repeat="row in customerCollection">
									<td>{{row.name}}</td>
									<td>{{row.email}}</td>
									<td>{{row.phone}}</td>
									<td>{{row.hub.name}}</td>
									<td align="center">
										<span class="sprite sprite-edit" title="Edit Customer" style="cursor:pointer" ng-click="showCustomer(row,'Update')"></span>&nbsp;&nbsp;&nbsp;
										<span class="sprite sprite-delete" title="Delete Customer" style="cursor:pointer" ng-click="deleteCustomer(row)"></span>
									</td>
							</tr>
							<tr ng-if="customerCollection.length == 0">
						   		<td colspan="5" class="text-center">{{error}}</td>
							</tr>
							</tbody>
							<tbody ng-show="isLoading">
							<tr>
								<td colspan="5" class="text-center"><img src="./css/images/loading.gif"/></td>
							</tr>
							</tbody>
							<tfoot>
							<tr ng-show="!isLoading && customerCollection.length != 0">
								<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="5">
								</td>
							</tr>
							</tfoot>
						</table>
			</div>
			<!-- CRUD Customer-->
			<div class="row" ng-show="showAddUpdateCustomer">
				<div class="col-md-12">
					<header class="panel-heading">
						<b>{{header}} Customer</b>
					</header>
				</div>
				<div class="col-md-12">
					<div class="col-md-12" ng-if="isSubLoading"><img src="./css/images/loading.gif"/>&nbsp;&nbsp;Getting Hubs&nbsp;&nbsp;<img src="./css/images/loading.gif"/></div>
					<form name="customerForm" class="css-form" novalidate ng-show="!isSubLoading">
						<div>
						  <!-- SHOW ERROR/SUCCESS MESSAGES -->
							<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="error" ng-bind-html="error"></div>
							<div class="col-md-12">
								<span style="float: right;padding-top: 10px;"><font color="red"><i>*Required fields.</i></font></span>
							</div>
							<div class="form-group col-xs-6">
								<label>Customer name<font color="red">*</font> :</label> <input type="text"
									ng-model="customer.name" required class="form-control" name="name"/>
							</div>
							<!--<div class="form-group col-xs-6">
								<label>Hub:</label> <input type="text" ng-model="customer.hub.name" class="form-control" ng-disabled="true"/>
							</div>-->
							<div class="form-group col-xs-6">
								<label>Hub <font color="red">*</font> :</label> 
								<select name="selectedHub" class="form-control"  ng-model="selectedHub" required class="form-control" ng-options="hub.name for hub in hubs track by hub.id" ng-disabled="header=='Update'">
								</select>
							</div>
							<div class="form-group col-xs-4">
								<label>Email:</label> <input type="email" ng-model="customer.email" class="form-control"/>
							</div>
							<div class="form-group col-xs-4">
								<label>Phone:</label> <input type="text" ng-model="customer.phone" class="form-control"/>
							</div>
							<div class="form-group col-xs-4">
								<label>Fax:</label> <input type="text" ng-model="customer.fax" class="form-control"/>
							</div>
							<div class="form-group col-xs-12">
								<label>Address<font color="red">*</font> :</label> <input type="textarea" ng-model="customer.address" class="form-control" required/>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" ng-click="addOrUpdate(customer,header)" ng-disabled="customerForm.$invalid">OK</button>
							<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
						</div>
					</form>
				</div>
              </div>
              <!-- row end -->
		</section>
	</div>
		</div>
</section>