<section class="content">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<section class="panel">
					<header class="panel-heading">
					  {{'tbl_head_hubs' | xlat}}
					</header>
					<div class="panel-body table-responsive">
						<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="rowCollection" st-table="hubsCollection">
							<thead>
							<tr>
									<th st-sort="name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Hub Name</th>
									<th width="50px">Actions</th>
								</tr>
								<tr>
									<th>
										<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody ng-show="!isLoading">
							<tr st-select-row="row" ng-repeat="row in hubsCollection">
									<td>{{row.name}}</td>
									<td align="center">
										<span class="sprite sprite-edit" title="Edit Hub" style="cursor:pointer" ng-click="showHub(row,'Update')"></span>&nbsp;&nbsp;&nbsp;
										<span class="sprite sprite-delete" title="Delete Hub" style="cursor:pointer" ng-click="deleteHub(row)"></span>
									</td>
							</tr>
							<tr ng-if="hubsCollection.length == 0">
						   		<td colspan="5" class="text-center">{{error}}</td>
							</tr>
							</tbody>
							<tbody ng-show="isLoading">
							<tr>
								<td colspan="5" class="text-center"><img src="./css/images/loading.gif"/></td>
							</tr>
							</tbody>
							<tfoot>
							<tr ng-show="!isLoading && hubsCollection.length != 0">
								<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="5">
								</td>
							</tr>
							</tfoot>
						</table>
			</div>
			<!-- CRUD Hub-->
			<div class="row" ng-show="showAddUpdateHub">
				<div class="col-md-12">
					<header class="panel-heading">
						<b>{{header}} Hub</b>
					</header>
				</div>
				<div class="col-md-12">
					<form name="hubForm" class="css-form" novalidate>
						<div>
						  <!-- SHOW ERROR/SUCCESS MESSAGES -->
							<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="error" ng-bind-html="error"></div>
							<div class="col-md-12">
								<span style="float: right;padding-top: 10px;"><font color="red"><i>*Required fields.</i></font></span>
							</div>
							<div class="form-group col-xs-12">
								<label>Hub name<font color="red">*</font> :</label> <input type="text"
									ng-model="hub.name" required class="form-control" name="name"/>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" ng-click="addOrUpdate(hub,header)" ng-disabled="hubForm.$invalid">OK</button>
							<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
						</div>
					</form>
				</div>
              </div>
              <!-- row end -->
		</section>
	</div>
		</div>
</section>