<section class="content">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<section class="panel">
					<header class="panel-heading">
					  {{'tbl_head_hubs' | xlat}}
					</header>
					<div class="panel-body table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
								  <th>#</th>
								  <th>Project</th>
								  <th>Manager</th>
								  <!-- <th>Client</th> -->
								  <th>Deadline</th>
								  <!-- <th>Price</th> -->
								  <th>Status</th>
								  <th>Progress</th>
							  </tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>1</td>
							  <td>Facebook</td>
							  <td>Mark</td>
							  <!-- <td>Steve</td> -->
							  <td>10/10/2014</td>
							  <!-- <td>$1500</td> -->
							  <td><span class="label label-danger">in progress</span></td>
							  <td><span class="badge badge-info">50%</span></td>
						  </tr>
						  <tr>
							  <td>2</td>
							  <td>Twitter</td>
							  <td>Evan</td>
							  <!-- <td>Darren</td> -->
							  <td>10/8/2014</td>
							  <!-- <td>$1500</td> -->
							  <td><span class="label label-success">completed</span></td>
							  <td><span class="badge badge-success">100%</span></td>
						  </tr>
						  <tr>
							  <td>3</td>
							  <td>Google</td>
							  <td>Larry</td>
							  <!-- <td>Nick</td> -->
							  <td>10/12/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-warning">in progress</span></td>
							  <td><span class="badge badge-warning">75%</span></td>
						  </tr>
						 <tr>
							  <td>4</td>
							  <td>Google</td>
							  <td>Larry</td>
							  <!-- <td>Nick</td> -->
							  <td>10/12/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-warning">in progress</span></td>
							  <td><span class="badge badge-warning">75%</span></td>
						  </tr>
						  <tr>
							  <td>5</td>
							  <td>Google</td>
							  <td>Larry</td>
							  <!-- <td>Nick</td> -->
							  <td>10/12/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-warning">in progress</span></td>
							  <td><span class="badge badge-warning">75%</span></td>
						  </tr>
						  <tr>
							  <td>6</td>
							  <td>LinkedIn</td>
							  <td>Allen</td>
							  <!-- <td>Rock</td> -->
							  <td>10/01/2015</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-info">in progress</span></td>
							  <td><span class="badge badge-info">65%</span></td>
						  </tr>
						  <tr>
							  <td>7</td>
							  <td>Tumblr</td>
							  <td>David</td>
							  <!-- <td>HHH</td> -->
							  <td>01/11/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-warning">in progress</span></td>
							  <td><span class="badge badge-danger">95%</span></td>
						  </tr>
						  <tr>
							  <td>8</td>
							  <td>Tesla</td>
							  <td>Musk</td>
							  <!-- <td>HHH</td> -->
							  <td>01/11/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-info">in progress</span></td>
							  <td><span class="badge badge-success">95%</span></td>
						  </tr>
						  <tr>
							  <td>9</td>
							  <td>Ghost</td>
							  <td>XXX</td>
							  <!-- <td>HHH</td> -->
							  <td>01/11/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-info">in progress</span></td>
							  <td><span class="badge badge-success">95%</span></td>
						  </tr>
						  <tr>
							  <td>10</td>
							  <td>Google</td>
							  <td>Larry</td>
							  <!-- <td>Nick</td> -->
							  <td>10/12/2014</td>
							  <!-- <td>$2000</td> -->
							  <td><span class="label label-warning">in progress</span></td>
							  <td><span class="badge badge-warning">75%</span></td>
						  </tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
		</div>
</section>