<section class="content">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<section class="panel">
					<header class="panel-heading">
					  {{'tbl_head_orders' | xlat}}
					</header>
					<div class="panel-body table-responsive">
						<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="rowCollection" st-table="hubsCollection">
							<thead>
							<tr>
									<th st-sort="name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Order Name</th>
									<th width="50px">Actions</th>
								</tr>
								<tr>
									<th>
										<input st-search="name" placeholder="search for name" class="input-sm form-control" type="search"/>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody ng-show="!isLoading">
							<tr st-select-row="row" ng-repeat="row in hubsCollection">
									<td>{{row.name}}</td>
									<td align="center">
										<span class="sprite sprite-edit" title="Edit Item" style="cursor:pointer"></span>&nbsp;&nbsp;&nbsp;
										<span class="sprite sprite-delete" title="Delete Item" style="cursor:pointer"></span>
									</td>
							</tr>
							<tr ng-if="hubsCollection.length == 0">
						   		<td colspan="5" class="text-center">{{error}}</td>
							</tr>
							</tbody>
							<tbody ng-show="isLoading">
							<tr>
								<td colspan="5" class="text-center"><img src="./css/images/loading.gif"/></td>
							</tr>
							</tbody>
							<tfoot>
							<tr ng-show="!isLoading && hubsCollection.length != 0">
								<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="5">
								</td>
							</tr>
							</tfoot>
						</table>
			</div>
		</section>
	</div>
		</div>
</section>