<section class="content">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<section class="panel" ng-show="showPricesMenu">
					<header class="panel-heading">
					  {{'tbl_head_prices' | xlat}}
					</header>
					<div class="panel-body table-responsive">
						<table width="100%" style="margin-bottom:5px">
							<tr>
								<td align="left">
									<span style="color:red" ng-show="errorMessage">{{errorMessage}}</span>
								</td>
								<td align="right">
									<select name="group" ng-model="groupProperty" ng-show="selectedTab==1 || selectedTab==4">
									  <option value="item.itemCategory.name">Item Category</option>
									  <option value="market.name">Market</option>
									</select>&nbsp;&nbsp;&nbsp;&nbsp;  
									<button class="btn btn-primary" ng-if="selectedTab==1" ng-click="showDMP()" align="right">Add New Item Price</button>
									<button class="btn btn-primary" ng-if="selectedTab==2" ng-click="showLokedPeriods()" align="right">Add Customer Locked Period</button>
									<button class="btn btn-primary" ng-if="selectedTab==2 && lktPId" ng-click="showManageCustLkdPrices()" align="right">Manage Customer Locked Prices</button>
									<!-- <button class="btn btn-primary" ng-if="selectedTab==3" ng-click="showCLP()" align="right">Add Customer Locked Item</button> -->
								</td>
							</tr>
						</table> 
						 <div class="tabbable">
							  <ul class="nav nav-tabs">
								 <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href=""  data-toggle="tab">{{'menu_DMP' | xlat}}</a></li>
								 <li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"><a href="" data-toggle="tab">{{'menu_DMPH' | xlat}}</a></li>
								 <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="" data-toggle="tab">{{'menu_Cust_Lock_Periods' | xlat}}</a></li>
								 <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a href="" data-toggle="tab">{{'menu_Cust_Prices' | xlat}}</a></li>
							  </ul>
							  <div class="tab-content">
								<div ng-class="getTabPaneClass(1)" id="dmp">    
									<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="dmpsCollection" st-table="dmpCollection" st-group="market.name">
										<thead>
										<tr>
												<th st-sort="item.name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Item</th>
												<th>UOM</th>
												<th>Min Price</th>
												<th>Max Price</th>
												<th>Market</th>
												<th>Actions</th>
											</tr>
											<tr>
												<th>
													<input st-search="item.name" placeholder="search for item" class="input-sm form-control" type="search"/>
												</th>
												<th></th><th></th><th></th><th></th><th></th>
											</tr>
										</thead>
										<tbody ng-show="!isLoading"  ng-repeat="(key, value) in dmpCollection | groupBy: groupProperty">
											<tr ng-if="key !== 'undefined'" class="text-center text-uppercase text-danger" >
											  <td colspan="6">{{key}}</td>
											</tr>
										<tr st-select-row="row" ng-repeat="row in value">
												<td>{{row.item.name}}</td>
												<td>{{row.uom.name}}</td>
												<td><div ng-model="minPrice" contentEditable ng-enter="updateMinPrice(minPrice,row)">{{row.minPrice}}</div></td>
												<td><div ng-model="maxPrice" contentEditable ng-enter="updateMaxPrice(maxPrice,row)">{{row.maxPrice}}</div></td>
												<td>{{row.market.name}}</td>
												<td align="center">
													<span class="sprite sprite-edit" title="Edit DMP" style="cursor:pointer" ng-click="showUpdateDMP(row)"></span>&nbsp;&nbsp;&nbsp;
													<span class="sprite sprite-delete" title="Delete DMP" style="cursor:pointer" ng-click="deleteDMP(row)"></span>
												</td>
										</tr>
										<tr ng-if="dmpCollection.length == 0">
											<td colspan="6" class="text-center">{{error}}</td>
										</tr>
										</tbody>
										<tbody ng-show="isLoading">
										<tr>
											<td colspan="6" class="text-center"><img src="./css/images/loading.gif"/></td>
										</tr>
										</tbody>
										<tfoot>
										<tr ng-show="!isLoading && dmpCollection.length != 0">
											<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="6">
											</td>
										</tr>
										</tfoot>
									</table>
								 </div>       
								
								<div ng-class="getTabPaneClass(4)" id="dmph">    
									<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="dmphsCollection" st-table="dmphCollection" st-group="market.name">
										<thead>
										<tr>
												<th st-sort="item.name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Item</th>
												<th>UOM</th>
												<th>Min Price</th>
												<th>Max Price</th>
												<th>DMP Date</th>
												<th>Updated On</th>
												<th>Market</th>
											</tr>
											<tr>
												<th>
													<input st-search="item.name" placeholder="search for item" class="input-sm form-control" type="search"/>
												</th>
												<th></th><th></th><th></th><th></th><th></th><th></th>
											</tr>
										</thead>
										<tbody ng-show="!isLoading"  ng-repeat="(key, value) in dmphCollection | groupBy: groupProperty">
											<tr ng-if="key !== 'undefined'" class="text-center text-uppercase text-danger" >
											  <td colspan="7">{{key}}</td>
											</tr>
										<tr st-select-row="row" ng-repeat="row in value">
												<td>{{row.item.name}}</td>
												<td>{{row.uom.name}}</td>
												<td>{{row.minPrice}}</td>
												<td>{{row.maxPrice}}</td>
												<td>{{row.dmpDate}}</td>
												<td>{{row.updatedTimestamp}}</td>
												<td>{{row.market.name}}</td>
										</tr>
										<tr ng-if="dmphCollection.length == 0">
											<td colspan="7" class="text-center">{{error}}</td>
										</tr>
										</tbody>
										<tbody ng-show="isLoading">
										<tr>
											<td colspan="7" class="text-center"><img src="./css/images/loading.gif"/></td>
										</tr>
										</tbody>
										<tfoot>
										<tr ng-show="!isLoading && dmphCollection.length != 0">
											<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="7">
											</td>
										</tr>
										</tfoot>
									</table>
								 </div> 
								 
								<div ng-class="getTabPaneClass(2)" id="cust_lck">     
								  <table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="custPeriodsCollection" st-table="custpCollection">
										<thead>
										<tr>
												<th st-sort="customer.name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Customer</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Status</th>
												<th>Actions</th>
											</tr>
											<tr>
												<th>
													<input st-search="customer.name" placeholder="search for customer" class="input-sm form-control" type="search"/>
												</th>
												<th></th><th></th><th></th><th></th>
											</tr>
										</thead>
										<tbody ng-show="!isLoading">
										<tr st-select-row="row" ng-repeat="row in custpCollection">
												<td>{{row.customer.name}}</td>
												<td>{{row.startDate | date:'yyyy-MM-dd'}}</td>
												<td>{{row.endDate | date:'yyyy-MM-dd'}}</td>
												<td>Expires in <b>{{row.endDate | dateDiff}}</b> day(s)</td>
												<td align="center">
													<span class="sprite sprite-edit" title="Edit CLP" style="cursor:pointer" ng-click="showUpdateCustLkdPeriod(row,'Update')"></span>&nbsp;&nbsp;&nbsp;
													<span class="sprite sprite-delete" title="Delete CLP" style="cursor:pointer" ng-click="deleteCustLkdPeriod(row)"></span>
												</td>
										</tr>
										<tr ng-if="custpCollection.length == 0">
											<td colspan="5" class="text-center">{{error}}</td>
										</tr>
										</tbody>
										<tbody ng-show="isLoading">
										<tr>
											<td colspan="5" class="text-center"><img src="./css/images/loading.gif"/></td>
										</tr>
										</tbody>
										<tfoot>
										<tr ng-show="!isLoading && custpCollection.length != 0">
											<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="5">
											</td>
										</tr>
										</tfoot>
									</table>
								</div>
								
								<div ng-class="getTabPaneClass(3)" id="cust_price">     
								  <table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="custPricesCollection" st-table="custppCollection">
										<thead>
										<tr>
												<th st-sort="customer.name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Customer</th>
												<th>Item</th>
												<th>Price</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>UOM</th>
												<th>Actions</th>
											</tr>
											<tr>
												<th>
													<input st-search="customer.name" placeholder="search for customer" class="input-sm form-control" type="search"/>
												</th>
												<th>
													<input st-search="item.name" placeholder="search for item" class="input-sm form-control" type="search"/>
												</th>
												<th></th><th></th><th></th><th></th><th></th>
											</tr>
										</thead>
										<tbody ng-show="!isLoading">
										<tr st-select-row="row" ng-repeat="row in custppCollection">
												<td>{{row.customer.name}}</td>
												<td>{{row.item.name}}</td>
												<td><div ng-model="custPrice" contentEditable ng-enter="updateCustPrice(custPrice,row)">{{row.price}}</div></td>
												<td>{{row.custLkdPeriod.startDate | date:'yyyy-MM-dd'}}</td>
												<td>{{row.custLkdPeriod.endDate | date:'yyyy-MM-dd'}}</td>
												<td>{{row.uomQty}} &nbsp; {{row.uom.name}}</td>
												<td align="center">
													<span class="sprite sprite-delete" title="Delete Customer Item Price" style="cursor:pointer" ng-click="deleteCustPrice(row)"></span>
												</td>
										</tr>
										<tr ng-if="custppCollection.length == 0">
											<td colspan="7" class="text-center">{{error}}</td>
										</tr>
										</tbody>
										<tbody ng-show="isLoading">
										<tr>
											<td colspan="7" class="text-center"><img src="./css/images/loading.gif"/></td>
										</tr>
										</tbody>
										<tfoot>
										<tr ng-show="!isLoading && custppCollection.length != 0">
											<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="7">
											</td>
										</tr>
										</tfoot>
									</table>
								</div>
							  </div>
						</div>
						<!-- Add for new DMP-->
						<div class="row" ng-show="showForm ==1">
							<div class="col-md-12">
								<header class="panel-heading">
									<b>{{dmpHeader}} Item Price</b>
								</header>
							</div>
							<div class="col-md-12">
								<div class="col-md-12" ng-if="isDmpLoading"><img src="./css/images/loading.gif"/>&nbsp;&nbsp;Getting Data&nbsp;&nbsp;<img src="./css/images/loading.gif"/></div>
								<form name="dmpForm" class="css-form" novalidate ng-show="!isDmpLoading">
									<div>
									  <!-- SHOW ERROR/SUCCESS MESSAGES -->
										<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="subError" ng-bind-html="subError"></div>
										<div class="col-md-12">
											<span style="float: right;padding-top: 10px;"><font color="red"><i>*Required fields.</i></font></span>
										</div>
										<div class="form-group col-xs-4">
											<label>Hub <font color="red">*</font> :</label> 
											<select name="selectedHub" class="form-control" ng-disabled="dmpHeader=='Update'" ng-model="selectedHub" required class="form-control" ng-options="hub.name for hub in hubs track by hub.id" ng-change="populateMarkets()">
											</select>
										</div>
										<div class="form-group col-xs-4">
											<label>Market <font color="red">*</font> :</label> 
											<select name="selectedMarket" class="form-control"  ng-disabled="dmpHeader=='Update'" ng-model="selectedMarket" required class="form-control" ng-options="market.name for market in markets track by market.id" ng-change="populateItems()">
											</select>
										</div>
										<div class="form-group col-xs-4">
											<label>Item <font color="red">*</font> :</label> 
											<select name="selectedItem" class="form-control"  ng-disabled="dmpHeader=='Update'" ng-model="selectedItem" required class="form-control" ng-options="item.name for item in items track by item.id" ng-change="populateUom()">
											</select>
										</div>
										<div class="form-group col-xs-3">
											<label>Unit <font color="red">*</font> :</label> 
											<select name="selectedUom" class="form-control"  ng-model="selectedUom" required class="form-control" ng-options="uom.name for uom in uoms track by uom.id">
											</select>
										</div>
										<div class="form-group col-xs-3">
											<label>Unit Qty<font color="red">*</font> :</label> <input type="number" ng-model="uomQty" required class="form-control" name="uomQty"/>
										</div>
										<div class="form-group col-xs-3">
											<label>Min Price<font color="red">*</font> :</label> <input type="text" ng-model="minPrice" required class="form-control" name="minPrice"/>
										</div>
										<div class="form-group col-xs-3">
											<label>Max Price<font color="red">*</font> :</label> <input type="text" ng-model="maxPrice" required class="form-control" name="maxPrice"/>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary" ng-click="addUpdateItemPrice()" ng-disabled="dmpForm.$invalid">OK</button>
										<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
									</div>
								</form>
							</div>
						  </div>
						  <!-- row end -->
						  <!-- Add for new CLP-->
						<div class="row" ng-show="showForm ==3">
							<div class="col-md-12">
								<header class="panel-heading">
									<b>Add New Item Price</b>
								</header>
							</div>
							<div class="col-md-12">
								<div class="col-md-12" ng-if="isClpLoading"><img src="./css/images/loading.gif"/>&nbsp;&nbsp;Getting Data&nbsp;&nbsp;<img src="./css/images/loading.gif"/></div>
								<form name="clpForm" class="css-form" novalidate ng-show="!isClpLoading">
									<div>
									  <!-- SHOW ERROR/SUCCESS MESSAGES -->
										<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="subError" ng-bind-html="subError"></div>
										<div class="col-md-12">
											<span style="float: right;padding-top: 10px;"><font color="red"><i>*Required fields.</i></font></span>
										</div>
										<div class="form-group col-xs-6">
											<label>Customer <font color="red">*</font> :</label> 
											<select name="selectedCustomer" class="form-control"  ng-model="selectedCustomer" required class="form-control" ng-options="customer.name for customer in customers track by customer.id" ng-change="showRemainingItems()">
											</select>
										</div>
										<div class="form-group col-xs-6">
											<label>Hub <font color="red">*</font> :</label> 
											<input type="text" ng-model="selectedHub.name" required class="form-control" name="selectedHub.name" disabled="true"/>
										</div>
										<!--<div class="form-group col-xs-4">
											<label>Locked Period <font color="red">*</font> :</label> 
											<select name="selectedLkdPeriod" class="form-control"  ng-model="selectedLkdPeriod" required class="form-control" ng-options="customer.name for customer in customers track by customer.id" ng-change="showRemainingItems()">
											</select>
										</div>-->
										<div class="form-group col-xs-6">
											<label>Item <font color="red">*</font> :</label> 
											<select name="selectedItem" class="form-control"  ng-model="selectedItem" required class="form-control" ng-options="item.name for item in items track by item.id">
											</select>
										</div>
										<div class="form-group col-xs-6">
											<label>Price<font color="red">*</font> :</label> <input type="text" ng-model="price" required class="form-control" name="price"/>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary" ng-click="addNewCustomerItemPrice()" ng-disabled="clpForm.$invalid">OK</button>
										<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
									</div>
								</form>
							</div>
						  </div>
						  <!-- row end -->
						   <!-- Add for new CLP-->
						<div class="row" ng-show="showForm ==2">
							<div class="col-md-12">
								<header class="panel-heading">
									<b>{{header}} Locked Period</b>
								</header>
							</div>
							<div class="col-md-12">
								<div class="col-md-12" ng-if="isClLoading"><img src="./css/images/loading.gif"/>&nbsp;&nbsp;Getting Data&nbsp;&nbsp;<img src="./css/images/loading.gif"/></div>
								<form name="clpForm" class="css-form" novalidate ng-show="!isClLoading">
									<div>
									  <!-- SHOW ERROR/SUCCESS MESSAGES -->
										<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="subError" ng-bind-html="subError"></div>
										<div class="col-md-12">
											<span style="float: right;padding-top: 10px;"><font color="red"><i>*Required fields.</i></font></span>
										</div>
										<div class="form-group col-xs-6" ng-show="header=='Add'">
											<label>Hub <font color="red">*</font> :</label> 
											<select name="selectedHub" class="form-control"  ng-model="selectedHub" required class="form-control" ng-options="hub.name for hub in hubs track by hub.id" ng-change="showRemainingCustomers()">
											</select>
										</div>
										<div class="form-group col-xs-6" ng-show="header=='Add'">
											<label>Customer <font color="red">*</font> :</label> 
											<select name="selectedCustomer" class="form-control"  ng-model="selectedCustomer" required class="form-control" ng-options="customer.name for customer in customers track by customer.id">
											</select>
										</div>
										<div class="form-group col-xs-6">
											<label>Start Date<font color="red">*</font> :</label> 
											<input type="text" class="form-control" datetime-picker="yyyy-MM-dd" ng-model="dates.start" is-open="open.start" enable-time="false" max-date="dates.today" ng-focus="openCalendar($event, 'start')"/>
										</div>
										<div class="form-group col-xs-6">
											<label>End Date<font color="red">*</font> :</label> 
											<input type="text" class="form-control" datetime-picker="yyyy-MM-dd" ng-model="dates.end" is-open="open.end" enable-time="false" min-date="dates.start" ng-focus="openCalendar($event, 'end')"/>
										</div>
									</div>
									<div class="modal-footer">
										<button class="btn btn-primary" ng-click="addUpdateCustomerLkdPeriod(header)" ng-disabled="clpForm.$invalid">OK</button>
										<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
									</div>
								</form>
							</div>
						  </div>
						  <!-- row end -->
			</div>
		</section>
		<section class="panel" ng-show="!showPricesMenu">
			<header class="panel-heading">
			  Managing locked prices for cusomer <b>{{lkdPCustName}}</b> for period (<b>{{lktPStDt | date:'yyyy-MM-dd'}} - {{lktPEndDt | date:'yyyy-MM-dd'}}</b>) for hub <b>{{lkdPHubName}}</b>
			  <button class="btn btn-primary" ng-click="saveMangeCustPrices(false)" style="margin-left:5%">Save</button>&nbsp;&nbsp;<button class="btn btn-primary" ng-click="saveMangeCustPrices(true)">Save And Close</button>&nbsp;&nbsp;<button class="btn btn-warning" ng-click="backToMainMenu()">Cancel</button>
			</header>
			<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="subError" ng-bind-html="subError"></div>
			<div class="panel-body table-responsive">
				<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="manageCustLkdPrices" st-table="mcustpCollection">
					<thead>
					<tr>
							<th st-sort="itemName" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Item</th>
							<th st-sort="itemCat"><i class="glyphicon glyphicon-filter"></i>Category</th>
							<th st-sort="price"><i class="glyphicon glyphicon-filter"></i>Price</th>
							<th>UOM</th>
							<th>UOM Qty</th>
						</tr>
						<tr>
							<th>
								<input st-search="itemName" placeholder="search for item" class="input-sm form-control" type="search"/>
							</th>
							<th><input st-search="itemCat" placeholder="search for item" class="input-sm form-control" type="search"/></th>
							<th></th><th></th><th></th>
						</tr>
					</thead>
					<tbody ng-show="!isLoading">
					<tr st-select-row="row" ng-repeat="row in mcustpCollection">
							<td>{{row.itemName}}</td>
							<td>{{row.itemCat}}</td>
							<td><input type="number" ng-model="row.price" class="form-control"></td>
							<td>
								<select name="row.uom" class="form-control"  ng-model="row.uom" required class="form-control" ng-options="uom.name for uom in uoms track by uom.id">
											</select>
							</td>
							<td><input type="number" ng-model="row.uomQty" class="form-control"></td>
					</tr>
					<tr ng-if="mcustpCollection.length == 0">
						<td colspan="5" class="text-center">{{error}}</td>
					</tr>
					</tbody>
					<tbody ng-show="isLoading">
					<tr>
						<td colspan="5" class="text-center"><img src="./css/images/loading.gif"/></td>
					</tr>
					</tbody>
					<tfoot>
					<tr ng-show="!isLoading && mcustpCollection.length != 0">
						<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="5">
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</section>
	</div>
		</div>
</section>