<section class="content">
		<!-- Main row -->
		<div class="row">
			<div class="col-md-12">
				<section class="panel" ng-show="!showPOForm">
					<header class="panel-heading">
					  {{'tbl_head_PO' | xlat}}
					</header>
					<div class="panel-body table-responsive">
					<table width="100%" style="margin-bottom:5px">
							<tr>
								<td align="left">
									<span style="color:red" ng-show="errorMessage">{{errorMessage}}</span>
								</td>
								<td align="right">
									<button class="btn btn-primary" ng-disabled="!selPO" ng-click="showCustomerInfo(selPO)" align="right">Customer Info</button>
									<button class="btn btn-primary" ng-disabled="!selPO" ng-click="showPO()" align="right">Accept PO</button>
								</td>
							</tr>
						</table> 
						<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="poCollection" st-table="pos">
							<thead>
							<tr>
									<th st-sort="customer" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Customer Name</th>
									<th st-sort="name"><i class="glyphicon glyphicon-filter"></i>Order Id</th>
									<th st-sort="deliveryDate"><i class="glyphicon glyphicon-filter"></i>delivery Date</th>
									<th st-sort="deliveryTime"><i class="glyphicon glyphicon-filter"></i>deliver Time</th>
									<th st-sort="orderStatus.name"><i class="glyphicon glyphicon-filter"></i>Status</th>
									<th width="50px">Actions</th>
								</tr>
								<tr>
									<th>
										<input st-search="customer.name" placeholder="search for custommer" class="input-sm form-control" type="search"/>
									</th>
									<th>
										<input st-search="id" placeholder="search for order number" class="input-sm form-control" type="search"/>
									</th>
									<th></th><th></th><th></th><th></th>
								</tr>
							</thead>
							<tbody ng-show="!isLoading">
							<tr st-select-row="row" ng-repeat="row in pos">
									<td>{{row.customer.name}}</td>
									<td>{{row.id}}</td>
									<td>{{row.deliveryDate | date:'yyyy-MM-dd'}}</td>
									<td>{{row.deliveryTime}}</td>
									<td align="center">
										<span class="label label-pill label-primary" ng-if="row.orderStatus.name=='PO'">New</span>
										<span class="label label-pill label-info" ng-if="row.orderStatus.name=='SO'">Accepted</span>
										<span class="label label-pill label-warning" ng-if="row.orderStatus.name=='DC'">At WH</span>
										<span class="label label-pill label-success" ng-if="row.orderStatus.name=='OFD'">Delivered</span>
										<span class="label label-pill label-default" ng-if="row.orderStatus.name=='END'">Closed</span>
									</td>
									<td align="center">
										<span class="sprite sprite-edit" title="Edit Order" style="cursor:pointer" ng-click="showOrderDetails(row)"></span>&nbsp;&nbsp;&nbsp;
										<span class="sprite sprite-delete" title="Delete Order" style="cursor:pointer"></span>
									</td>
							</tr>
							<tr ng-if="pos.length == 0">
						   		<td colspan="6" class="text-center">{{error}}</td>
							</tr>
							</tbody>
							<tbody ng-show="isLoading">
							<tr>
								<td colspan="6" class="text-center"><img src="./css/images/loading.gif"/></td>
							</tr>
							</tbody>
							<tfoot>
							<tr ng-show="!isLoading && pos.length != 0">
								<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="6">
								</td>
							</tr>
							</tfoot>
						</table>
			</div>
              <!-- row end -->
		</section>
		<!-- Purchase Order details-->
		<section class="panel" ng-show="showPOForm">
			<header class="panel-heading">
			  <div class="row">
			  	<div class="col-md-4"><span>Purchase Order <b>#{{selectedPO.id}}</b></span></div>
			  	<div class="col-md-8" style="text-align: right;">
			  		<button class="btn btn-primary" ng-click="showCustomerInfo(selectedPO)">Customer Info</button>&nbsp;&nbsp;&nbsp;
			  		<button class="btn btn-primary" ng-click="acceptPO()">Accept And Close</button>&nbsp;&nbsp;&nbsp;
			  		<button class="btn btn-warning" ng-click="backToMainMenu()">Cancel</button>
			  	</div>
			  </div>
			</header>
			<div id="messages" style="color:red;margin-bottom: 15px;" ng-show="subError" ng-bind-html="subError"></div>
			<div class="panel-body table-responsive">
				<table style="background-color:antiquewhite" class="table table-striped table-bordered valignMiddle" st-safe-src="selectedPO.lineItems" st-table="poLineItemsCollection">
					<thead>
					<tr>
							<th st-sort="name" st-sort-default="default"><i class="glyphicon glyphicon-filter"></i>Item</th>
							<th st-sort="itemCategory.name"><i class="glyphicon glyphicon-filter"></i>Category</th>
							<th>Quantity</th>
							<th>UOM</th>
							<th>Actions</th>
						</tr>
						<tr>
							<th>
								<input st-search="name" placeholder="search for item" class="input-sm form-control" type="search"/>
							</th>
							<th></th>
							<th></th><th></th><th></th>
						</tr>
					</thead>
					<tbody ng-show="!isLoading">
					<tr st-select-row="row" ng-repeat="row in poLineItemsCollection">
							<td>{{row.item.name}}</td>
							<td>{{row.item.itemCategory.name}}</td>
							<td>{{row.lineItemQuantity}}</td>
							<td>{{row.uom.name}}</td>
							<td align="center">
								<span class="sprite sprite-edit" title="Edit Item" style="cursor:pointer" ng-click="editItemQtyAndUom(row)"></span>&nbsp;&nbsp;&nbsp;
								<span class="sprite sprite-delete" title="Delete Item" style="cursor:pointer"></span>
							</td>
					</tr>
					<tr ng-if="poLineItemsCollection.length == 0">
						<td colspan="5" class="text-center">{{error}}</td>
					</tr>
					</tbody>
					<tbody ng-show="isLoading">
					<tr>
						<td colspan="5" class="text-center"><img src="./css/images/loading.gif"/></td>
					</tr>
					</tbody>
					<tfoot>
					<tr ng-show="!isLoading && poLineItemsCollection.length != 0">
						<td class="text-center" st-pagination="" st-items-by-page="itemsByPage" colspan="5">
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</section>
		<!-- Purchase order details end -->
	</div>
		</div>
</section>