<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AGRUB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CDFC7BE1C2E54CC002684B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDFC7D41C2E54CD002684B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CDFC7DF1C2E54CD002684B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
